[submodule "PipePipeExtractor"]
        path = PipePipeExtractor
        url = git@github.com:vector0902/PipePipeExtractor.git
        branch = main
[submodule "PipePipeClient"]
        path = PipePipeClient
        url = git@github.com:vector0902/PipePipeClient.git
        branch = dev
