[submodule "PipePipeExtractor"]
        path = PipePipeExtractor
        #url = git@github.com:vector0902/PipePipeExtractor.git
        url = https://github.com/vector0902/PipePipeExtractor
        branch = main
[submodule "PipePipeClient"]
        path = PipePipeClient
        #url = git@github.com:vector0902/PipePipeClient.git
        rl = https://github.com/vector0902/PipePipeClient
        branch = dev
